<!-- <form [formGroup]="testForm2" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-12 col-sm-4 group">
            <input type="text" id="name" formControlName="name" class="modelo-text-input"
                   [ngClass]="{'ng-not-empty' : testForm2.get('name').value.length !== 0}">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-4 group">
            <input type="text" id="email" formControlName="email" class="modelo-text-input"
                   [ngClass]="{'ng-not-empty' : testForm2.get('email').value.length !== 0}">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-4 group">
            <input type="text" id="tel" formControlName="tel" class="modelo-text-input"
                   [ngClass]="{'ng-not-empty' : testForm2.get('tel').value.length !== 0}">
            <label for="tel">Telephone #</label>
          </div>
        </div>
        <div class="col-1 group generateButton">
          <button class="btn btn-primary" type="submit">Submit Info</button>
        </div>
        </form> -->
<!--
         <h1>Angular 9 FormData (multipart/data-form) Example</h1>
<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>  -->

  <!-- <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
    </div> -->
<!--
    <p *ngFor="let hero of heroes">
            {{hero.id}} - {{hero.name}}
    </p> -->


    <div class="container">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Actor Name</th>
              <th>Character Name</th>
              <th>Gender</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters">
            <td>{{ character.actor_name }}</td>
            <td>{{ character.character_name }}</td>
            <td>{{ character.gender }}</td>
            <td>{{ character.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
